/* @import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap"); */

body {
  background-color: #161617;
}


/* Navbar Start here */
nav {
  display: flex;
  justify-content: center;
  padding: 1% 0;
  position: fixed;
  width: 100%;
  background-color: #60606229;
  z-index: 10;
}
.backdropOwn{
  backdrop-filter: saturate(180%) blur(5px);
}

.nav_name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
  font-family: "myFirstFont", cursive !important;
  font-size: 150%;
  transition: 0.5s;
  transform: translateY(-4rem);
  opacity: 0;
}

.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.6%;
}

.nav_items ul li {
  display: inline-block;
  /* border: 1px solid black; */
  padding: 0 !important; /* To Reset bootstrap padding */
  padding: 0.5% 7% !important;
  text-transform: capitalize;
  margin: 0 0.5%;
  color: white;
  font-size: 120%;
  font-weight: 500;
}

.nav_items ul {
  margin: 0 !important; /* To reset bootstrap margin */
  padding: 0 !important; /* To reset bootstrap margin */
  width: inherit;
  display: flex;
  justify-content: center;
}

.nav_contact_me_button {
  width: 25%;
}

.nav_contact_me_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5%;
}

.nav_contact_me_button a {
  text-decoration: none;
  padding: 1.5% 3%;
  color: white;
  transition: 0.4s;
  box-shadow: 0 0 2px 1.5px white;
}

.nav_contact_me_button a:hover {
  transform: scale(1.04);
}

/* Navbar ends here */
